.article-section {
  background-image: url('../public/images/timeline.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 109px;
  position: relative;
  text-align: center;

  @include media-breakpoint-down(md) {
    .row.content {
      margin: 0 20px;
    }
  }

  hr {
    margin: 21px auto 0;
    max-width: 394px;
  }

  .content {
    margin: 0 176px;
    padding-bottom: 265px;
    padding-top: 55px;
    text-align: left;
  }

  canvas {
    bottom: 0;
    height: 160px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
  }
}
