body {
  background-color: $background;
  padding-top: $navbar-height;
}

.navbar {
  .navbar-brand {
    background: $logo-color $logo-image 137px 17px no-repeat;
    height: $navbar-height;
    max-width: 456px;
    width: 100%;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: bold;
  }
}
