.news-headline-section {
  margin-top: -100px;
  z-index: 5;

  .news {
    align-items: start;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 58px 28px 0;

    &:first-child {
      padding-top: 216px;
    }
  }

  .news-item {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: center;
    text-align: center;
  }

  .news-top {
    padding-top: 138px;
  }

  .bg-news-map-1 {
    @extend %image-cover-center;
    background-image: url('../public/images/news-map-1.png');
  }

  .bg-news-map-2 {
    @extend %image-cover-center;
    background-image: url('../public/images/news-map-2.png');
  }

  .bg-news-pic-1 {
    @extend %image-cover-center;
    background-image: url('../public/images/news-pic-1.png');
  }

  .bg-news-pic-2 {
    @extend %image-cover-center;
    background-image: url('../public/images/news-pic-2.png');
  }

  .bg-news-pic-3 {
    @extend %image-cover-center;
    background-image: url('../public/images/news-pic-3.png');
  }

  .bg-news-bilder {
    @extend %image-cover-center;
    background-image: url('../public/images/news-bilder.png');
    position: relative;

    canvas {
      height: 100%;
      position: absolute;
      width: 100%;
    }

    h3 {
      z-index: 1;
    }
  }
}
