.slide-section {
  align-items: end;
  background-image: url('../public/images/header-image.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: -100px;
  position: relative;
  width: 100%;
  z-index: 6;

  .slide-text {
    font-size: 20px;
    font-weight: bold;
    max-width: 560px;
    padding: 40px;
    text-align: center;

    h1 {
      font-size: 66px;
      margin: 0 auto;
      max-width: 460px;
    }
  }
}
