.team-section {
  padding-top: 71px;
  position: relative;
  text-align: center;

  hr {
    margin: 21px auto 0;
    max-width: 394px;
  }

  .menu {
    margin: 86px auto 30px;

    ul {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    li {
      color: $text-muted;
      font-weight: bold;
      list-style-type: none;
      margin-right: 50px;
      transition: color .5s;

      &:hover {
        color: $gray-500;
      }

      &.active {
        border-bottom: 1px solid $white;
        color: $white;
      }
    }
  }

  .members {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .loading {
      align-items: center;
      display: flex;
      height: 840px;
      justify-content: center;
      width: 100%;
    }

    .member {
      height: 280px;
      position: relative;
      width: 280px;

      .image {
        @extend %image-cover-center;
        background-image: url("https://minimaltoolkit.com/images/randomdata/female/6.jpg");
        height: 100%;
        position: relative;
        transition: opacity .2s;
        width: 100%;
        z-index: 2;
      }

      .info {
        align-items: center;
        background-color: $gray-200;
        bottom: 0;
        color: $black;
        display: flex;
        flex-direction: column;
        justify-content: end;
        left: 0;
        padding-bottom: 25px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
      }

      &:hover .image {
        opacity: 0;
      }
    }
  }

  .load-more {
    margin: 55px auto;
  }

  canvas {
    bottom: 0;
    height: 160px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
  }
}
