// bootstrap variables

// navbar
$navbar-height: 86px;
$navbar-padding-y: 0;
$navbar-brand-height: $navbar-height;
$navbar-brand-padding-y: 0;
$navbar-brand-margin-end: 0;
$navbar-light-color: $black;
$navbar-light-hover-color: $black;
$navbar-light-active-color: $black;

// custom variable

// text vars
$red: #c4132f;

//logo vars
$logo-color: $red;
$logo-image: url('../public/images/segel-team-logo.png');
